[submodule "nghttp3"]
	path = nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
[submodule "build/ngtcp2"]
	path = build/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "ngtcp2"]
	path = ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
